.benefits {
    padding: 100px 200px;
    background-color: #fff;
    text-align: center;
}

.benefits h1 {
    font-size: 24px;
    color: #DF8693;
    padding: 20px 20px 20px 20px;
    font-family: "Montserrat";
    font-weight: 700;
}

.benefits h1 .red {
    color: #9d0017;
}

.benefits h2 {
    font-size: 18px;
    margin-bottom: 60px;
    font-family: "Jost";
    font-weight: 500;
}

.benefits h2 .bold {
    color: #9d0017;
    font-weight: 900;
}

.benefits-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    max-width: 1200px;
    margin: 0 auto;
}

.benefit-card {
    background: #ffffff;
    padding: 40px 28px;
    border-radius: 24px;
    text-align: center;
    align-items: center;
    font-weight: bold;
}

.benefit-card h3 {
    font-size: 46px;
    font-family: "Poppins", Sans-serif;
    font-weight: 700;
    color: #DF8693;
}

.benefit-card p {
    font-family: "Poppins";
    font-weight: 22px;
    font-weight: 500;
    color: #9D0017;
    line-height: 1.6;
}

.benefit-card img {
    width: 280px;
    height: 280px;
}

/* MOBILE */
@media (max-width: 900px) {
    .benefits-grid {
        grid-template-columns: 1fr;
    }

    .benefits {
        padding: 80px 6%;
    }
}