.content-guide {
    padding: 50px 20px;
    background-color: #9D0017;
}

.content-guide .container {
    max-width: 1100px;
    margin: 0 auto;
}

.content-guide h2 {
    font-size: 40px;
    font-weight: 800;
    font-family: "Montserrat";
    margin-bottom: 50px;
    line-height: 1.2;
    text-align: center;
    color: #ffffff;
}

.content-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 24px;
    text-align: center;
}

.content-item {
    padding: 5px;
    background: #DF8693;
    border-radius: 8px;
}

.content-item h3 {
    font-size: 30px;
    font-weight: 700;
    font-family: "Montserrat";
    color: #ffffff;
    margin-bottom: 8px;
}

.content-item p {
    font-size: 17px;
    font-weight: 400;
    font-family: "Montserrat";
    line-height: 1.4;
    color: #ffffff;
}

.content-item .icon-svg {
    width: 50px;
    height: 50px;
    color: #ffffff;
    fill: #ffffff;
}