.forwho {
    min-height: 100vh;

    /* IMAGEM NO FUNDO */
    background:
        linear-gradient(to right,
            rgba(253, 226, 220, 0.95) 0%,
            rgba(253, 226, 220, 0.85) 0%,
            rgba(253, 226, 220, 0.3) 0%,
            rgba(253, 226, 220, 0.1) 0%),
        url("/2.png");

    background-repeat: no-repeat;
    background-position: 85% center;
    background-size: 100%;

    display: flex;
    align-items: center;
    text-align: center;
    padding: 50px 50px 50px 50px;
}

.forwho-container {
    max-width: 50%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    display: flex;
}

.forwho h2 {
    font-size: 40px;
    font-family: "Montserrat";
    font-weight: 800;
    font-weight: bolder;
    margin-bottom: 5px;
    text-align: center;
}

.forwho h2 .first {
    color: #df8693;
}

.forwho h2 .second {
    color: #9d0017;
}

.forwho h2 .bold {
    color: #9d0017;
    font-weight: 900;
}

.forwho h3 {
    font-size: 17px;
    font-family: "Montserrat";
    font-weight: 700;
    margin-bottom: 5%;
    text-align: center;
    color: #9d0017;
    padding-right: 13%;
    padding-left: 13%;
}

.forwho-grid {
    display: grid;
    text-align: left;
    padding-left: 8%;
    margin-bottom: 8%;
    list-style-type: none;
}

.forwho-item {
    text-align: left;
    padding-bottom: 10px;
}

.forwho-item .list-text {
    font-family: "Jost";
    font-size: 17px;
    font-weight: 400;
    padding-left: 2px;
    line-height: 1.2;
    color: #54595F;
    box-sizing: border-box;
}

.forwho-item .e-font-icon-svg{
    width: 18px;
    height: 18px;
    vertical-align: middle;
    color: #9d0017;
    fill: #9d0017;
}

.forwho-item .e-font-icon-svg .list-text {
    align-self: center;
    padding-inline-start: 5px;
}

/* MOBILE */
@media (max-width: 900px) {
    .forwho {
        padding: 80px 6%;
    }

    .forwho-grid {
        grid-template-columns: 1fr;
    }

    .forwho h2 {
        font-size: 2.2rem;
    }
}