.stories {
    padding: 90px 20px;
    background-color: #f7f7f7;
}

.stories .container {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.stories .title {
    font-size: 44px;
    font-weight: 800;
    font-family: "Montserrat";
    margin-bottom: 20px;
    color: #9d0017;
}

.stories-subtitle {
    font-size: 26px;
    font-family: "Jost";
    font-weight: 500;
    max-width: 100%;
    margin-bottom: 50px;
    color: #9d0017;
}

.stories .subtitle {
    font-size: 30px;
    font-family: "Montserrat";
    font-weight: 700;
    margin-top: 50px;
    max-width: 100%;
    margin-bottom: 30px;
    color: #9d0017;
}

.stories-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.story-card {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.story-text {
    font-size: 18px;
    line-height: 1.6;
    color: #222;
    margin-bottom: 20px;
}

.story-name {
    font-weight: 700;
    color: #9d0017;
}